<div class="registration-container col-11 border border-dark rounded py-3 mx-auto mt-5">
  <form [formGroup]="patientForm" class="row">
    <div class="text-start mx-3">
      <h2>Search Patient</h2>
    </div>
    <div class="form-group col-2 mx-3 my-1">
      <label for="lastName">Last Name</label><br>
      <input class="col-11" id="lastName" type="text" placeholder="Last name" formControlName="lastName">
      <div class="alert-danger col-11"
           *ngIf="patientForm.controls['lastName'].hasError('required') && patientForm.controls['lastName'].touched">
        Last Name is required
      </div>
      <div class="alert-danger col-11"
           *ngIf="patientForm.controls['lastName'].hasError('maxlength') && patientForm.controls['lastName'].touched">
        100 characters max.
      </div>
    </div>
    <div class="form-group col-2 mx-1 my-1">
      <label for="firstName">First Name</label><br>
      <input class="col-11" id="firstName" type="text" placeholder="First name" formControlName="firstName">
      <div class="alert-danger col-11"
           *ngIf="patientForm.controls['firstName'].hasError('required') && patientForm.controls['firstName'].touched">
        First Name is required.
      </div>
      <div class="alert-danger col-11"
           *ngIf="patientForm.controls['firstName'].hasError('maxlength') && patientForm.controls['firstName'].touched">
        100 characters max.
      </div>
    </div>
    <div class="col-1 mx-1 my-4">
      <button id="search" type="submit" (click)="onSubmitSearch()" class="btn btn-primary mx-5"
              [disabled]="patientForm.invalid">
        Search
      </button>
    </div>
    <div class="col-1 mx-4 my-4">
      <button id="clear" type="submit" (click)="onSubmitClear()" class="btn btn-danger ">Clear
      </button>
    </div>

  </form>
</div>
<div class="col-11 mx-auto mt-2" *ngIf="showPatient==true">
  <div class="row">
    <div class="col-6">
      <h2>My Patient</h2>
    </div>
    <div class="col-6 text-end">
      <button type="submit" (click)="onSubmitCreate()" class="btn btn-success">Create Patient
      </button>
    </div>
  </div>
  <table aria-label="patients" class="table table-bordered text-center">
    <thead class="table-success">
    <tr>
      <th class="col-1" scope="col">FirstName</th>
      <th class="col-1" scope="col">LastName</th>
      <th class="col-2" scope="col">Date of birth</th>
      <th class="col-1" scope="col">Gender</th>
      <th class="col-4" scope="col">Address</th>
      <th class="col-2" scope="col">PhoneNumber</th>
      <th class="col-1" scope="col">Show</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="patient$ | async as patientModel">
      <td class="col-1">{{patientModel.firstName}}</td>
      <td class="col-1">{{patientModel.lastName}}</td>
      <td class="col-2">{{patientModel.dateOfBirth | date: 'yyyy-MM-dd'}}</td>
      <td class="col-1">{{patientModel.gender}}</td>
      <td class="col-4">{{patientModel.address}}</td>
      <td class="col-2">{{patientModel.phoneNumber}}</td>
      <td class="col-1">
        <button type="submit" (click)="onShow(patientModel.id)" class="btn btn-primary">Show
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="errorMessage" class="alert alert-warning">
    <strong>Patient doesn't exist</strong>
  </div>
</div>
<div class="col-11 mx-auto mt-2" *ngIf="showPatients==true">
  <div class="row">
    <div class="col-6">
      <h2>Patient</h2>
    </div>
    <div class="col-6 text-end">
      <button type="submit" (click)="onSubmitCreate()" class="btn btn-success">Create Patient
      </button>
    </div>
  </div>
  <table aria-label="patients" class="table table-bordered text-center">
    <thead class="table-success">
    <tr>
      <th class="col-1" scope="col">FirstName</th>
      <th class="col-1" scope="col">LastName</th>
      <th class="col-2" scope="col">Date of birth</th>
      <th class="col-1" scope="col">Gender</th>
      <th class="col-4" scope="col">Address</th>
      <th class="col-2" scope="col">PhoneNumber</th>
      <th class="col-1" scope="col">Show</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patientModel of (patientList$ | async)! | paginate:{itemsPerPage: 8, currentPage: pageNumber}">
      <td class="col-1">{{patientModel.firstName}}</td>
      <td class="col-1">{{patientModel.lastName}}</td>
      <td class="col-2">{{patientModel.dateOfBirth | date: 'yyyy-MM-dd'}}</td>
      <td class="col-1">{{patientModel.gender}}</td>
      <td class="col-4">{{patientModel.address}}</td>
      <td class="col-2">{{patientModel.phoneNumber}}</td>
      <td class="col-1">
        <button type="submit" (click)="onShow(patientModel.id)" class="btn btn-primary">Show
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls class="text-center" (pageChange)="pageNumber = $event" previousLabel=""
                       nextLabel=""></pagination-controls>
</div>


