<div class="registration-container col-10 border border-dark rounded py-5 m-auto">
  <form [formGroup]="patientUpdateForm">
    <div class="text-center">
      <h1>Patient Update form</h1>
    </div>
    <div class="form-group col-11 mx-5 my-4">
      <div class="form-group  col-11 mx-5 my-4">
        <label for="firstName">First Name</label><br>
        <input class="col-11" id="firstName" type="text" formControlName="firstName">
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['firstName'].hasError('required') && patientUpdateForm.controls['firstName'].touched">
          First Name is required
        </div>
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['firstName'].hasError('maxlength') && patientUpdateForm.controls['firstName'].touched">
          100 characters max.
        </div>
    </div>
    <div class="form-group  col-11 mx-5 my-4">
      <label for="lastName">Last Name</label><br>
      <input class="col-11" id="lastName" type="text" formControlName="lastName">
      <div class="alert-danger col-11"
           *ngIf="patientUpdateForm.controls['lastName'].hasError('required') && patientUpdateForm.controls['lastName'].touched">
        Last Name is required
      </div>
      <div class="alert-danger col-11"
           *ngIf="patientUpdateForm.controls['lastName'].hasError('maxlength') && patientUpdateForm.controls['lastName'].touched">
        100 characters max.
      </div>
    </div>
      <div class="form-group  col-11 mx-5 my-4">
        <label for="dateOfBirth">Date of birth</label><br>
        <input class="col-11" id="dateOfBirth" type="date" formControlName="dateOfBirth">
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['dateOfBirth'].hasError('required') && patientUpdateForm.controls['dateOfBirth'].touched">
          Date of birth is required
        </div>
      </div>
      <div class="form-group col-11 mx-5">
        <label for="genderMale">Men</label>
        <input id="genderMale" type="radio" value='M' formControlName="gender">

        <label for="genderFemale">Women</label>
        <input id="genderFemale" type="radio" value='F' formControlName="gender">
      </div>
      <div class="form-group  col-11 mx-5 my-4">
        <label for="address">Address</label><br>
        <input class="col-11" id="address" type="text" formControlName="address">
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['address'].hasError('maxlength') && patientUpdateForm.controls['address'].touched">
          300 characters max.
        </div>
      </div>
      <div class="form-group  col-11 mx-5 my-4">
        <label for="phoneNumber">Phone Number</label><br>
        <input class="col-11" id="phoneNumber" type="text" formControlName="phoneNumber">
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['phoneNumber'].hasError('maxlength') && patientUpdateForm.controls['phoneNumber'].touched">
          20 characters max.
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-center mt-5">
          <button type="submit" (click)="onSubmitForm()" class="btn btn-primary" [disabled]="patientUpdateForm.invalid">Validate
          </button>
        </div>
        <div class="col-6 text-center mt-5">
          <button type="submit" (click)="onCancelForm()" class="btn btn-primary" >Cancel
          </button>
        </div>
        </div>
</div>
  </form>
</div>
