<div class="registration-container col-6 border border-dark rounded py-5 m-auto" *ngIf="patient$ | async as patientModel">
  <form [formGroup]="patientUpdateForm">
    <div class="text-center">
      <h1>Patient Update form</h1>
    </div>
    <div class="form-group col-11 mx-5 my-4">
      <div class="form-group  col-11 mx-5 my-4">
        <label for="firstName">First Name</label><br>
        <input class="col-11" id="firstName" type="text" formControlName="firstName" [(ngModel)]="patientModel.firstName">
        <div class="alert-danger col-11"
             *ngIf="(patientUpdateForm.controls['firstName'].hasError('required') ||
              patientUpdateForm.controls['firstName'].hasError('whitespace'))
              && patientUpdateForm.controls['firstName'].touched">
          First Name is required
        </div>
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['firstName'].hasError('maxlength') && patientUpdateForm.controls['firstName'].touched">
          100 characters max.
        </div>
      </div>
      <div class="form-group  col-11 mx-5 my-4">
        <label for="lastName">Last Name</label><br>
        <input class="col-11" id="lastName" type="text" formControlName="lastName" [(ngModel)]="patientModel.lastName">
        <div class="alert-danger col-11"
             *ngIf="(patientUpdateForm.controls['lastName'].hasError('required') ||
              patientUpdateForm.controls['lastName'].hasError('whitespace'))
              && patientUpdateForm.controls['lastName'].touched">
          Last Name is required
        </div>
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['lastName'].hasError('maxlength') && patientUpdateForm.controls['lastName'].touched">
          100 characters max.
        </div>
      </div>
      <div class="form-group col-11 mx-5 my-4">
        <label for="dateOfBirth">Date of birth</label><br>
        <input class="col-11" id="dateOfBirth" type="date" formControlName="dateOfBirth" [(ngModel)]="patientModel.dateOfBirth">
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['dateOfBirth'].hasError('required') && patientUpdateForm.controls['dateOfBirth'].touched">
          Date of birth is required
        </div>
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['dateOfBirth'].hasError('invalidDate') && patientUpdateForm.controls['dateOfBirth'].touched">
          Date must be in past
        </div>
      </div>
      <div class="form-group col-11 mx-5">
        <label for="genderMale">Men</label>
        <input id="genderMale" type="radio" value='M' formControlName="gender" [(ngModel)]="patientModel.gender">

        <label for="genderFemale">Women</label>
        <input id="genderFemale" type="radio" value='F' formControlName="gender" [(ngModel)]="patientModel.gender">
      </div>
      <div class="form-group  col-11 mx-5 my-4">
        <label for="address">Address</label><br>
        <input class="col-11" id="address" type="text" formControlName="address" [(ngModel)]="patientModel.address">
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['address'].hasError('maxlength') && patientUpdateForm.controls['address'].touched">
          300 characters max.
        </div>
      </div>
      <div class="form-group  col-11 mx-5 my-4">
        <label for="phoneNumber">Phone Number</label><br>
        <input class="col-11" id="phoneNumber" type="text" formControlName="phoneNumber" [(ngModel)]="patientModel.phoneNumber">
        <div class="alert-danger col-11"
             *ngIf="patientUpdateForm.controls['phoneNumber'].hasError('maxlength') && patientUpdateForm.controls['phoneNumber'].touched">
          20 characters max.
        </div>
      </div>
      <div class="col-6 text-center mx-auto">
        <div class="row">
          <div class="col-6 text-center mt-3">
            <button type="submit" (click)="onSubmitForm()" class="btn btn-success"
                    [disabled]="patientUpdateForm.invalid">
              Validate
            </button>
          </div>
          <div class="col-6 text-center mt-3">
            <button type="submit" (click)="onCancelForm()" class="btn btn-danger">Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

