a {
  font-size: larger;
}

#back :hover {
  color: red;
}

mat-icon {
  width: 200%;
  height: 200%;
}

.none {
  background-color: green;
  color: white;
}

.borderline {
  background: gold;
}

.in_danger {
  background: darkorange;
}

.early_onset {
  background: red;
  color: white;
}

strong {
  font-size: larger;
}


