label {
  margin-right: 15px;
  line-height: 32px;
  font-size: larger;
}

#genderMale, #genderFemale {
  margin-right: 10px;
  text-align: center;
}

input {
  height: 50px;
  font-size: larger;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

button {
  height: 50px;
  width: 100px;
}
